<div ng-cloak id="migrate">
  <h2>where we're all coming from and going to: a chord diagram<br>
    <button id="pop" type="button" ng-click="goToPop();">or click here to see the population projection chart</button></h2>  
  <div class="dia" style="position:relative;" width="100%">
    <aside class="panelyears">
      <h3 class="text-center">Atlanta Migrations <span>{{ selected_year }}</span></h3>
      <ul class="side-nav-left">
        <li ng-repeat="year in years">
          <label for="year_{{ year }}">{{ year }}</label>
          <input ng-model="$parent.selected_year" type="radio" name="years" ng-value="year" id="year_{{ year }}">
        </li>
      </ul>
    </aside>
    <aside class="filters">
      <h3>click a state or county to remove it<br>
        <button id="pop" class="button tiny right" ng-click="filters = {}; hasFilters = false;">
          clear selections
        </button>
      </h3>
      <div class="panel">
        <div ng-if="hasFilters === false" style="margin: 15px; opacity: 0.5;">
      </div>
        <ul class="side-nav-right">
          <li ng-repeat="filter in filters">
            <input ng-model="filter.hide" id="{{ filter.name }}" type="checkbox">
            <label for="{{ filter.name }}">{{ filter.name }}</label>
          </li>
        </ul>
      </div>
    </aside>
    <div class="" role="content">
      <!-- <h3 class="text-center">Atlanta Migrations <span>{{ selected_year }}</span></h3> -->
      <article>
        <chord-diagram></chord-diagram>
      </article>
        <p id="irs"><strong>source:</strong> <a style="color:white" href="http://www.irs.gov/uac/SOI-Tax-Stats-County-to-County-Migration-Data-Files" target="_blank">Internal Revenue Service County-to-County Migration Data</a></p>
    </div>
  </div>
  <fieldset id="tooltip" class="row secondary">
      <div class="tip-text">
        <h6>In {{ tooltip.sdata['data'][0]['year'] }}, {{ qFormat(tooltip.svalue) }} people migrated from {{ tooltip.tname }} into {{ tooltip.sname }}.
        <br>
        {{ qFormat(tooltip.tvalue) }} migrated from {{ tooltip.sname }}  into {{ tooltip.tname }}, for a net migration of {{ qFormat(tooltip.svalue - tooltip.tvalue) }} into {{ tooltip.sname }}.</h6>
      </div>
    </fieldset>
<div ui-view></div>