<style type="text/css">
#tooltip {
  background-color: white;
  pointer-events: none;
  font-size: 12px;
  z-index: 1000;
  color: grey;
  position: fixed;
  width: 500px;
  border-radius: 6px;
  opacity: 0;
  bottom: 10%;
  right: 5%;
  box-shadow: 5px 5px 2.5px #666;
}

path.chord {
  -webkit-backface-visibility: hidden;
  fill-opacity: .67;
  stroke: none;
}

text, .group path {
  cursor: pointer;
}

input[type="radio"] {
  margin: 0px;
}

.years {
  height: 600px;
  overflow: scroll;
}

aside {
  margin: 0px;
}
</style>

<div ng-cloak>
  <button type="button" ng-click="goToPop();">Show Population Projection</button>
  <div class="row">
    <div class="large-12 columns">
      <h1>Atlanta Migrations <small>(2011)</small></h1>
      <hr/>
    </div>
  </div>

  <div class="row" style="position:relative;" width="100%">

    <aside class="col-lg-2 col-sm-2 large-2 small-2 columns panel years">
      <h5>Years</h5>
      <ul class="side-nav">
        <li ng-repeat="year in years">
          <input ng-model="$parent.selected_year" type="radio" name="years" ng-value="year" id="year_{{ year }}">
          <label for="year_{{ year }}">{{ year }}</label>
        </li>
      </ul>
    </aside>

    <div class="col-lg-7 col-sm-6 large-7 small-6 columns" role="content">
      <article>
        <chord-diagram></chord-diagram>
        <h6 class="text-center">Atlanta Migrations <span>{{ selected_year }}</span></h6>
      </article>
    </div>

    <aside class="col-lg-3 col-sm-4 large-3 small-4 columns">
      <h5>Filters</h5>
      <button class="button tiny right" ng-click="filters = {}; hasFilters = false;">
        clear
      </button>
      <div class="panel">
        <div ng-if="hasFilters === false" style="margin: 15px; opacity: 0.5;">
          Click a state/county to remove it from the diagram
        </div>
        <ul class="side-nav">
          <li ng-repeat="filter in filters">
            <input ng-model="filter.hide" id="{{ filter.name }}" type="checkbox">
            <label for="{{ filter.name }}">{{ filter.name }}</label>
          </li>
        </ul>
      </div>
    </aside>

    <fieldset id="tooltip" class="row secondary">
      <div class="large-12 small-12 columns">
        <h6>{{ qFormat(tooltip.svalue) }} people migrated from {{ tooltip.tname }} into {{ tooltip.sname }} County, {{ pFormat(tooltip.svalue/tooltip.stotal) }} of {{ tooltip.sname }} County's total influx, and {{ pFormat(tooltip.svalue/tooltip.ttotal) }} of {{ tooltip.tname }}'s outflux to the metro area.</h6>
      </div>
      <div class="large-12 small-12 columns">
        <h6>{{ qFormat(tooltip.tvalue) }} migrated from {{ tooltip.sname }} County into {{ tooltip.tname }}, for a net migration of {{ qFormat(tooltip.svalue - tooltip.tvalue) }} into {{ qFormat(tooltip.svalue - tooltip.tvalue) > 0 ? "metro Atlanta" : tooltip.tname }}.</h6>
      </div>
    </fieldset>

  </div>
  
</div>

<div ui-view></div>
