<div ng-cloak>
  <button type="button" ng-click="goToPop();">Show Population Projection</button>
  <div class="row">
    <div class="">
      <h1>Atlanta Migrations by Year</h1>
      <hr/>
    </div>
  </div>

  <div class="row" style="position:relative;" width="100%">

    <aside class="panel years">
      <h5>Years</h5>
      <ul class="side-nav">
        <li ng-repeat="year in years">
          <input ng-model="$parent.selected_year" type="radio" name="years" ng-value="year" id="year_{{ year }}">
          <label for="year_{{ year }}">{{ year }}</label>
        </li>
      </ul>
    </aside>

    <div class="" role="content">
      <article>
        <chord-diagram></chord-diagram>
        <h6 class="text-center">Atlanta Migrations <span>{{ selected_year }}</span></h6>
      </article>
    </div>

    <aside class="">
      <h5>Filters</h5>
      <button class="button tiny right" ng-click="filters = {}; hasFilters = false;">
        clear
      </button>
      <div class="panel">
        <div ng-if="hasFilters === false" style="margin: 15px; opacity: 0.5;">
          Click a state/county to remove it from the diagram
        </div>
        <ul class="side-nav">
          <li ng-repeat="filter in filters">
            <input ng-model="filter.hide" id="{{ filter.name }}" type="checkbox">
            <label for="{{ filter.name }}">{{ filter.name }}</label>
          </li>
        </ul>
      </div>
    </aside>

    <fieldset id="tooltip" class="row secondary">
      <div class="tip-text">
        <h6>In {{ tooltip.sdata['data'][0]['year'] }}, {{ qFormat(tooltip.svalue) }} people migrated from {{ tooltip.tname }} into {{ tooltip.sname }}.
        <br>
        {{ qFormat(tooltip.tvalue) }} migrated from {{ tooltip.sname }}  into {{ tooltip.tname }}, for a net migration of {{ qFormat(tooltip.svalue - tooltip.tvalue) }} into {{ tooltip.sname }}.</h6>
      </div>
    </fieldset>

  </div>
<p><strong>Source:</strong> <a href="http://www.irs.gov/uac/SOI-Tax-Stats-County-to-County-Migration-Data-Files" target="_blank">Internal Revenue Service County-to-County Migration Data</a></p>
</div>

<div ui-view></div>
