
  <img src="images/bubbles2.jpg" id="bg2" width="100%">
  <div id="" ></div>

  <div id="">
    <p>THANKS FOR STOPPING BY!</p>
  </div>

  <div id="">
    <img src="images/logo.png">
    <h2>perspectives on our evolving city</h2>
    <h5 class="arrows">▼</h5>
  </div>



  <div class="row" id="migration">
    <div class="col-sm-12 text-center">
      <div >
        <header>
          <h1>Metro Area Migration and Population</h1>
        </header>
        <p>Atlanta is a vibrant and ever-evolving city whose population has been growing apace for decades, through downturns and up. Those who choose relocate to Atlanta are attracted by a number of factors, chief among which is the rare combination of thriving commerce and economic opportunity with below-national-average cost of living.</p>
        <br>
        <p>We've chosen to focus on the five counties that comprise the geographic, economic, and cultural heart of the city of Atlanta: Fulton, Dekalb, Gwinnett, Cobb, and Clayton. These five counties tally more than 3.6 million inhabitants, well over half of the vastly larger 20-county metro area.</p>
        <br>
        <p>The following data visualization presents domestic migration figures into and out of the metro area every year from 2006 to 2011 (the latest year for which there is available data). The subsequent graph shows historical and projected future population growth for these five counties over the next quarter century.</p>
      </div>
      <div class="row graphs">
        <div class="graph-buttons">
          <button class="btn btn-default" ng-click="goToChord();" data-ng-hide="$state.includes('home.migrations')">Migration Chord Diagram</button>
        </div>
      </div>
      <div class="home-view-container">
        <div class="home-ui-view" ui-view></div>
      </div>
    </div>
  </div>      

  <div>   
    <video width="360" height="240" autoplay loop muted>
      <source src="images/12mid.mp4" type="video/mp4">
      Your browser doesn't support HTML5 video. Get with it fool and upgrade to Chrome!
    </video>
    <h4>Turning the corner on the Great Recession</h4>
    <p>lorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum loremlorem ipsum dosum ipsum lorem</p>
    <!-- <video width="320" height="240" controls muted>
      <source src="images/GSUlaw.mp4" type="video/mp4">
      Your browser doesn't support HTML5 video. Get with it fool and upgrade to Chrome!
    </video>
    <p>GSU Law School</p> -->
    
  </div>
    <div id="rtp">
      <p>add another cool fact about Atlanta here</p>
    </div>
    
  <div id="properties">
    <h2 style="color:white">Established in 1837, metro Atlanta is now home to over 5.5 million people.<br>That's greater than the population of 24 states.</h2>
  </div>

  <div id="" >
    <div id="">
      <h2>Awesome graphs here</h2>
      <!-- <p>Oh yeah.</p> -->
      <p>let's see where are they coming from <span>and</span> where we all are going...</p>
      <p>another cool fact here</p>
    </div>



  <div class="row" id="development">
    <div class="col-sm-12 text-center">
      <div class="row graphs">
        <div class="graph-buttons">
          <button class="btn btn-default" ng-click="selectGraph('permitPie')">Dollars to Donuts</button>
          <button class="btn btn-default" ng-click="selectGraph('permitBar')">Housing Units Line Graph</button>
          <button class="btn btn-default" ng-click="selectGraph('permitBlurb')">Back to Blurb</button>
        </div>
    
        <div ng-switch on="selectedGraph">
          <div ng-switch-when="permitBlurb">
            <div class="blurb-text text-center" style="width:50%; height:600px; text-align:center margin: 0 auto; float:left;">
              <div>
                <h1>Development</h1>
                <p>Atlanta is a city steeped in history, having emerged from Civil War ruin to sit at the heart of the Civil Rights movement a century later. And the story of the city can be told through her buildings.</p>
                <br>
                <p>In recent years, the Great Recession severely dampened development in Atlanta, but as you can see from the next two visualizations, momentum is building for another era of strong growth in the metro area.</p>
                <img src="images/buildings_by_era.png" id="building-decades" width="50%">
                <p><strong>Source:</strong> <a href="http://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml" target="_blank">United States Census Bureau: American Factfinder</a></p>

              </div>


              <div class="blurb-image permitPie" style="width:50%; height:600px; text-align:center margin: 0 auto; float:right;">
                <img src="">
              </div> 
            </div>
          </div>

          <div ng-switch-when="permitPie">
            <header>
              <h3>Development -- Metro Area Building Permits Since 2000</h1>
            </header>
            <div class="permitPie text-center" ng-controller="permitPieCtrl">
              <div id="slidercontainer permitPie" style="width:100%; height:600px; text-align:center margin: 0 auto;">
                <pie-chart id="pie-chart" url="/data/permits.json"></pie-chart>
                <div id="slider" style="width:500px;margin-left:auto;margin-right:auto;margin-top:10px;margin-bottom:50px"></div>
              </div> 
              <p><strong>Source:</strong> <a href="http://www.terry.uga.edu/about/centers-institutes/selig/housing" target="_blank">University of Georgia Terry College of Business Housing Data</a></p>
            </div>
          </div>

          <div ng-switch-when="permitBar">
            <header>
              <h3>Development -- Metro Area Building Permits Since 2000</h1>
            </header>
            <div class="permitBar text-center" ng-controller="BldgPmtCtrl">
              <div id="permitBar" style="width:80%; height:600px; margin: 0 auto;">
                <highchart id="container" config="permitChartConfig"></highchart>
              </div>
              <p><strong>Source:</strong> <a href="http://www.terry.uga.edu/about/centers-institutes/selig/housing" target="_blank">University of Georgia Terry College of Business Housing Data</a></p>
            </div>
          </div>
        </div> 
      </div>     
    </div> 
  </div>     











    <div class="drop" >
    <img src="images/skyl3.jpg">  
    </div>
  </div>

  <div id="download" >
    <!-- <img src="images/skyl2.jpg"> -->
  </div>
    <!-- <p>by the way, you can also animate colors (you did notice this, didn't you?)</p> -->

  <div id="scrollbar" ></div>


  <!--[if lt IE 9]>
  <script type="text/javascript" src="dist/skrollr.ie.min.js"></script>
  <![endif]-->
  
<!--<script type="text/javascript" src="../scripts/require.js"></script>-->
